@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Kirang+Haerang&family=Rock+3D&display=swap');

h1 {
    font-family: Barrio;
    color: darkblue;
    background-color: antiquewhite;
    font-size: 3rem;
    text-align: center;
    line-height: 2;
    margin: 0;
    letter-spacing: 5px;
    word-spacing: 20px;
}

h2 {
    font-family: Kirang Haerang;
    font-size: 2rem;
    text-align: center;
}

p {
    text-transform: capitalize;
    text-align: center;
}

p a {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#box {
    color: darkblue;
    background-color: antiquewhite;
    text-align: center;
    height: 120px;
    width: 50vw;
    border: 5px solid darkblue;
    padding: 20px;
    margin: 35px, 40px, 35px, 20px;
    box-sizing: border-box;
}

#image, #gradient {
    height: 200px;
    background-color: darkblue;
    margin: 10px 0px;
}

#image {
    background-image: url("https://images.unsplash.com/photo-1590796583326-afd3bb20d22d?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#gradient {
    background-image: linear-gradient(darkblue, blue, lightblue, antiquewhite, white);
}